asgiref==3.12.1
Django==5.2.17
django-ckeditor==6.7.3
django-cors-headers==4.9.0
django-jazzmin==3.0.5
django-js-asset==4.0.1
djangorestframework==3.16.1
Pillow==12.3.0
sqlparse==0.5.5
tzdata==2026.3
gigachat==0.1.43
python-dotenv==1.2.2
